/* Estilos aplicados para crear el menu horizontal en CSS */

#Index{
    background-color: silver;
    padding: 2rem;
    margin:0;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 5vmin;
}

header{
    width: 100%;
    background-color: cadetblue;
    position: sticky;
    top: 0;
}

#btn-menu{
    display: none;
}

header label{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    
}

header label :hover{
    cursor: pointer;
}

#menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

#menu li{
    flex-grow: 1;
    text-align: center;
    border: 1px solid white;
}

#menu li a{
    text-decoration: none;
    display: block;
    padding: 1rem 1rem;
    color: white;
}

#menu li a :hover{
    background-color:black ;
}

#menu li a :active{
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px){
    header label{
        display: block;
    }

    #menu{
        position: absolute;
        background-color: cadetblue;
        width: 20%;
        margin-left: -20%;
        transition: all 0.5s;
    }

    #menu ul{
        flex-direction: column;
    }

    #menu li{
        text-align: left;
        border: 1px solid white;
    }

    #btn-menu:checked ~ #menu{
        margin-left: 0%;
    }

    main{
        margin: 1rem;
    }
    main p{
        margin: 1rem;
    }
}