{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}



{% block content %}
<h1>{{title}}</h1>

{% if messages %}
{% for message in messages %}
<div class="alert-warning">
{{message}}
</div>
{% endfor %}
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <label for="username">Usuario:</label>
    <input type="text" name="username">
    <label for="password">Contraseña</label>
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>
{% endblock content %}
