/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    width: 100%;
    margin: 0;
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor principal */
#contenedor {
    background-image: url(Fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    max-width: 1200px; /* Limita el ancho en pantallas grandes */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    margin: auto;
    padding: 2rem;
}

/* Encabezado */
h2 {
    padding: 2rem 0;
    font-size: 4vw;
    color: white;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    background-color: rgba(2, 0, 0, 0.61);
    border-radius: 10px;
}

/* Formulario */
form {
    margin: 4vw auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    max-width: 800px;
}

/* Inputs */
.caja1, .caja2 {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    width: 90%; /* Adaptación al ancho del contenedor */
    max-width: 400px;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

/* Botón */
#boton {
    margin-top: 2rem;
    border-radius: 10px;
    padding: 1rem;
    font-weight: bold;
    background-color: palevioletred;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#boton:hover {
    color: black;
    background-color: cyan;
}

#boton:active {
    color: white;
    background-color: rgb(0, 68, 255);
    border: 2px solid black;
}

footer{
    padding: 2rem 0;
    font-size: 4vw;
    color: white;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    background-color: rgba(2, 0, 0, 0.61);
    border-radius: 10px;
    font-size: 2vw;
    color: white;
    text-align: center;
    font-style: italic;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top:0;
}