/* Estilos del main, section y footer */

/* section */

*{
    margin:0;
    padding: 0;
}

section h2{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    background-color: burlywood;
    text-decoration: underline;
    padding: 3rem;
}

section p{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

section img{
    display: block;
    width: 32rem;
    height: 32rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section a img{
    display: block;
    width: 2em;
    height: 2em;
    margin: 1rem 1rem;
    margin-left: auto;
}
#Abajo{
    text-align: center;
}